/*
Author: BT
Date of creation: 31/08/26
Title: Generatore di password
*/

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Pixelon;
    src: url(Pixelon.ttf);
    font-size: 1.3em;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Pixelon', sans-serif;
    background: #050505;
}

h1
{
    position: absolute;
    height: 30%;
}

.container{
    position: relative;
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text
{
    margin: 5px;
    padding: 5px;
    color: green;
    filter: brightness(20);
}

.text:hover
{
    filter: drop-shadow(0 0 5px green);
}

#options
{
    display: flex;
    padding: 15px;
}

button
{
    background-color: #050505;
    padding: 10px;
    border-radius: 100px;
    border: 1px solid green;
    color: green;
}

button:hover
{
    filter: drop-shadow(0 0 5px green);
}

#risultato-div
{
    display: block;
    position: absolute;
    padding: 5px;
    top: 50px;
    color: green;
    white-space: nowrap;
    text-align: center;
}

input[type="number"]
{
    background-color: transparent;
    border-radius: 100px;
    padding: 10px;
    color: green;
    border: 1px solid green;
}

input[type="number"]:hover
{
    filter: drop-shadow(0 0 5px green);
}

input[type="checkbox"]
{
    accent-color: green;
}

input[type="checkbox"]:hover
{
   filter: drop-shadow(0 0 5px green); 
}

